<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.luyan.dhdiagnosis">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.Activity.GuideActivity"
            android:label="@string/title_activity_guide"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Activity.DetectActivity"
            android:label="@string/title_activity_detect"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.Activity.LocateDeviceActivity"
            android:label="@string/title_activity_locate_device"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.Activity.DeviceListActivity"
            android:label="@string/title_activity_device_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.Activity.DiagnosisActivity"
            android:label="@string/title_activity_diagnosis"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.Activity.BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.Activity.StationRecordActivity"
            android:label="@string/title_activity_station_record"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Common.photoPicker.TestPicActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".Common.photoPicker.ImageGridActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".Common.photoPicker.PublishedActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".Common.photoPicker.PhotoActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".UI.Activity.VideoActivity"
            android:label="@string/title_activity_video"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.Activity.VideoPlayerActivity"
            android:label="@string/title_activity_video_player"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
