<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.luyan.dhdiagnosis">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.Activity.GuideActivity"
            android:label="@string/title_activity_guide"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Activity.DetectActivity"
            android:label="@string/title_activity_detect"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.Activity.LocateDeviceActivity"
            android:label="@string/title_activity_locate_device"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.Activity.DeviceListActivity"
            android:label="@string/title_activity_device_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.Activity.DiagnosisActivity"
            android:label="@string/title_activity_diagnosis"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.Activity.BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
